<p class="important-txt"><i18n>admin.availabilityDays</i18n></p>
<ul class="check-boxes">
    <li>
        <input type="checkbox" id="monday" name="monday" ng-change="vm.saveConfig()" ng-model="vm.config.days.monday">
        <label for="monday"><i18n>admin.monday</i18n></label>
    </li>
    <li>
        <input type="checkbox" id="tuesday" name="tuesday" ng-change="vm.saveConfig()" ng-model="vm.config.days.tuesday">
        <label for="tuesday"><i18n>admin.tuesday</i18n></label>
    </li>
    <li>
        <input type="checkbox" id="wednesday" name="wednesday" ng-change="vm.saveConfig()" ng-model="vm.config.days.wednesday">
        <label for="wednesday"><i18n>admin.wednesday</i18n></label>
    </li>
    <li>
        <input type="checkbox" id="thursday" name="thursday" ng-change="vm.saveConfig()" ng-model="vm.config.days.thursday">
        <label for="thursday"><i18n>admin.thursday</i18n></label>
    </li>
    <li>
        <input type="checkbox" id="friday" name="friday" ng-change="vm.saveConfig()" ng-model="vm.config.days.friday">
        <label for="friday"><i18n>admin.friday</i18n></label>
    </li>
    <li>
        <input type="checkbox" id="saturday" name="saturday" ng-change="vm.saveConfig()" ng-model="vm.config.days.saturday">
        <label for="saturday"><i18n>admin.saturday</i18n></label>
    </li>
    <li>
        <input type="checkbox" id="sunday" name="sunday" ng-change="vm.saveConfig()" ng-model="vm.config.days.sunday">
        <label for="sunday"><i18n>admin.sunday</i18n></label>
    </li>
</ul>