<article class="style-bord-with-over-effect">
    <form id="formRight">
        <div class="block-line">
            <p class="important-title"><i18n>admin.title</i18n></p>
        </div>
        <div class="block-line" ng-include="'/homework-assistance/public/template/home/admin/admin-periods.html'"></div>
        <div class="block-line" ng-include="'/homework-assistance/public/template/home/admin/admin-checkboxes.html'"></div>
        <div class="block-line" ng-include="'/homework-assistance/public/template/home/admin/admin-selectboxes.html'"></div>
    </form>
</article>