<div class="important-txt"><i18n>admin.period.title</i18n></div>
<div class="periods">
    <table>
        <tbody>
        <tr ng-repeat="exclusion in vm.config.exclusions track by $index">
            <td class="size-column-1">
                <i18n>admin.period.from</i18n>[[exclusion.start]]<br/>
                <i18n>admin.period.to</i18n>[[exclusion.end]]
            </td>
            <td class="size-column-2">
                <button type="button" class="classic-button" ng-click="vm.showLightbox('delete', $index)">
                    <i class="suppr md-icon"></i>
                </button>
                <i18n class="flex delete-text">admin.delete</i18n>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<p id="add-period">
    <button type="button" ng-click="vm.showLightbox('add')">
        <i class="plus md-icon"></i>
    </button>
    <i18n  ng-click="vm.showLightbox('add')">admin.add</i18n>
</p>