<div ng-controller="HomeController as vm" class="main-row">

    <!--    Column presentation -->
    <div class="home-column">
        <article class="style-bord-with-over-effect">
            <section>
                <div class="flex-header">
                    <i class="dot-circled hg-icon"></i>
                    <div class="flex" ng-if="hasRight('student')">
                        <div class="multilines">[[vm.config.messages.header]]</div>
                    </div>
                    <div class="flex" ng-if="hasRight('admin')">
                        <div id="message-header" class="multilines" contenteditable="true" ng-blur="vm.saveMessage('message-header')">[[vm.config.messages.header]]</div>
                        <button type="button" class="classic-button" ng-click="vm.focusText('message-header')">
                            <i class="modif lg-icon icon-spacing"></i>
                        </button>
                    </div>
                </div>
            </section>
            <section id="offer">
                <div class="flex" ng-if="hasRight('student')">
                    <div class="multilines">[[vm.config.messages.body]]</div>
                </div>
                <div class="flex" ng-if="hasRight('admin')">
                    <div id="message-body" class="multilines" contenteditable="true" ng-blur="vm.saveMessage('message-body')">[[vm.config.messages.body]]</div>
                    <button type="button" class="classic-button" ng-click="vm.focusText('message-body')">
                        <i class="modif lg-icon icon-spacing"></i>
                    </button>
                </div>
            </section>
            <section>
                <div class="flex-info">
                    <div class="column info-txt">
                        <p id="availabilityTitle"><i18n>homework-assistance.availabilityTitle</i18n></p>
                        <div class="flex">
                            <p>
                                <i class="calendar-o lg-icon icon-spacing"></i>
                                <div class="flex" ng-if="hasRight('student')">[[vm.config.messages.days]]</div>
                                <div class="flex" ng-if="hasRight('admin')">
                                    <div id="message-days" class="multilines" contenteditable="true" ng-blur="vm.saveMessage('message-days')">[[vm.config.messages.days]]</div>
                                    <button type="button" class="classic-button" ng-click="vm.focusText('message-days')">
                                        <i class="modif lg-icon icon-spacing"></i>
                                    </button>
                                </div>
                            </p>
                        </div>
                        <div class="flex">
                            <p>
                                <i class="clock lg-icon icon-spacing"></i>
                            <div class="flex" ng-if="hasRight('student')">[[vm.config.messages.time]]</div>
                            <div class="flex" ng-if="hasRight('admin')">
                                <div id="message-time" class="multilines" contenteditable="true" ng-blur="vm.saveMessage('message-time')">[[vm.config.messages.time]]</div>
                                <button type="button" class="classic-button" ng-click="vm.focusText('message-time')">
                                    <i class="modif lg-icon icon-spacing"></i>
                                </button>
                            </div>
                            </p>
                        </div>
                        <div class="flex">
                            <p>
                                <i class="info-circled-1 lg-icon icon-spacing"></i>
                            <div class="flex" ng-if="hasRight('student')">[[vm.config.messages.info]]</div>
                            <div class="flex" ng-if="hasRight('admin')">
                                <div id="message-info" class="multilines" contenteditable="true" ng-blur="vm.saveMessage('message-info')">[[vm.config.messages.info]]</div>
                                <button type="button" class="classic-button" ng-click="vm.focusText('message-info')">
                                    <i class="modif lg-icon icon-spacing"></i>
                                </button>
                            </div>
                            </p>
                        </div>
                    </div>
                    <div class="column studying">
                        <img data-ng-src="/homework-assistance/public/img/studying.svg" alt="smartphone-picture"/>
                    </div>
                </div>
            </section>
        </article>
    </div>

    <!--    Column form (admin) if user has proper rights-->
    <div ng-if="hasRight('admin')"
         ng-include="'/homework-assistance/public/template/home/admin/admin-form.html'"
         class="home-column">
    </div>
    <!--    Column form (student) if user has not proper rights-->
    <div ng-if="hasRight('student')"
         ng-include="'/homework-assistance/public/template/home/student/student-form.html'"
         class="home-column">
    </div>

    <!--    Lightboxes -->
    <div ng-include="'/homework-assistance/public/template/lightboxes/index.html'"></div>
</div>