.home-column {
  display: flex;
  flex: 1 1 0px;
  float: left;
  width: 46%;
  margin-left: 2%;
  margin-right: 2%;
  align-self: stretch;

  .style-bord-with-over-effect {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }

  section {
    padding-top: 5%;
    padding-bottom: 5%;

    .flex-header {
      display: flex;
      align-items: center;
      @media screen and (max-width: 800px) {
        flex-direction: column-reverse;
      }
    }

    .flex {
      @media screen and (max-width: 800px) {
        align-items: flex-start;
      }
    }
  }

  section:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width: 800px) {
      width: 100%;
      margin: 0 0 2% 0;
  }
}

