.home-column {
  display: flex;
  flex: 1 1 0px;
  float: left;
  width: 46%;
  margin-left: 2%;
  margin-right: 2%;
  align-self: stretch;

  .style-bord-with-over-effect {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }

  article {
    width: 100%;
    padding-right: 30px !important;
    padding-left: 30px !important;
    margin: 0;

    @media screen and (max-width: 500px) {
      padding: 0;
      padding-top: 10px;
    }
    @media screen and (max-width: 400px) {
      padding-right: 10px !important;
      padding-left: 10px !important;
    }
  }

  section {
    padding-top: 4%;
    padding-bottom: 4%;

    .flex-header {
      display: flex;
      align-items: center;
      @media screen and (max-width: 800px) {
        flex-direction: column-reverse;
      }
    }

    .flex-info {
      display: flex;
      align-items: center;
      @media screen and (min-width: 800px) and (max-width: 1000px) {
        flex-direction: column;
      }
      @media screen and (max-width: 500px) {
        flex-direction: column;
        margin-top: 2%;
      }
    }

    p {
      @media screen and (max-width: 500px) {
        margin: 0;
        margin-bottom: 2%;
      }
    }

    @media screen and (max-width: 500px) {
      padding-top: 0;
    }
  }

  section:after {
    content: "";
    display: table;
    clear: both;
  }

  .column {
    float: left;
    padding-left: 2%;
    padding-right: 2%;
  }

  @media screen and (max-width: 800px) {
      width: 100%;
      margin: 0 0 5% 0;
  }
}

