body.homework-assistance {

  @import "generic/index";
  @import "components/home-column";
  @import "components/icons";
  @import "components/lightbox";
  @import "components/admin/index";

  .title-row {
    @media screen and (max-width: 800px) {
      text-align: center;
    }
  }

  .main-row {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 800px) {
      display: flex;
      flex-direction: column;
    }
  }

  article {
    width: 100%;
    padding-right: 30px !important;
    padding-left: 30px !important;
    margin: 0;
  }

  .column {
    float: left;
    width: auto;
    padding-left: 2%;
    padding-right: 2%;
  }

  .block-line {
    margin-bottom: 5%;
  }

  .block-line > p {
    margin-bottom: 2%;
  }

  .important-txt {
    font-size: 18px;
    color: black;
  }

  .important-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5%;
  }

  #offer {
    text-align: center;
    padding-right: 15%;
    padding-left: 15%;
  }

  #availabilityTitle {
    font-size: 18px;
    color: black;
  }

  .inline {
    display: inline;
    list-style: none; /* pour enlever les puces sur IE7 */
    margin: 5px;
  }

  #date {
    width: 25%;
    @media screen and (max-width: 600px) {
      width: 50%;
    }
    @media screen and (min-width: 800px) and (max-width: 1200px) {
      width: 50%;
    }
  }

  #other-informations {
    width: 80%;
  }

  #add-period {
    color: darkorange;
    height: 50px;
  }

  button {
    margin-right: 10px !important;
    padding: 0 !important;
  }

  .classic-button {
    background: none !important;
    box-shadow: none;
    margin: 0 0 10px 0 !important;
    padding-right: 10px !important;
  }

  .flex {
    display: flex;
    align-items: center;
  }

  .multilines {
    white-space: pre-line;
    @media screen and (max-width: 800px) {
      text-align: center;
    }
  }

  .newMessage {
    width: 50%;
    margin: 0 2% 0 2%;
  }

  .newDate {
    margin: 0 10% 0 5%;
    float: right;
  }

  .dateSized {
    width : 300px;
  }
}