<lightbox show="vm.lightbox.add" on-close="vm.hideLightbox('add')" class="lightbox">
    <form ng-submit="vm.addExclusion()">
        <h2 class="flex">Ajout d'une période de fermeture</h2>
        <div class="flex-column">
            <div class="flex-column">
                <div class="dateSized">
                    <label class="labelSized">Date de début :</label>
                    <span class="date-picker">
                         <date-picker ng-id="startDate"
                                      name="startDate"
                                      class="newDate"
                                      ng-model="vm.exclusion.start"
                                      required>
                        </date-picker>
                    </span>
                </div>
                <div class="dateSized">
                    <label class="labelSized">Date de fin :</label>
                    <span class="date-picker">
                        <date-picker ng-id="endDate"
                                     name="endDate"
                                     class="newDate"
                                     ng-model="vm.exclusion.end"
                                     required>
                        </date-picker>
                    </span>
                </div>
            </div>
            <div>
                <input type="submit" class="button" ng-click="vm.hideLightbox('add')" i18n-value="admin.validate" />
                <input type="button" ng-click="vm.hideLightbox('add')" i18n-value="admin.cancel" />
            </div>
        </div>
    </form>
</lightbox>