<lightbox show="vm.lightbox.error" on-close="vm.hideLightbox('error')" class="lightbox">
    <div ng-if="vm.error == 'studentTime'" class="flex-lightbox">
        Le service n'est disponible qu'entre [[vm.getTimeFormat(vm.config.times.start.hour)]]h[[vm.getTimeFormat(vm.config.times.start.minute)]]
        et [[vm.getTimeFormat(vm.config.times.end.hour)]]h[[vm.getTimeFormat(vm.config.times.end.minute)]]. Veuillez essayer un autre moment.
        <input type="button" class="inline" ng-click="vm.hideLightbox('error')" i18n-value="admin.close" />
    </div>
    <div ng-if="vm.error == 'studentWrongDay'" class="flex-lightbox">
        Ce jour de la semaine est indisponible. Veuillez essayer une autre date.
        <input type="button" class="inline" ng-click="vm.hideLightbox('error')" i18n-value="admin.close" />
    </div>
    <div ng-if="vm.error == 'studentClosedDate'" class="flex-lightbox">
        La période du [[vm.exclusion.start]] au [[vm.exclusion.end]] est indisponible. Veuillez essayer une autre date.
        <input type="button" class="inline" ng-click="vm.hideLightbox('error')" i18n-value="admin.close" />
    </div>
    <div ng-if="vm.error == 'studentOldDate'" class="flex-lightbox">
        La date indiquée est déjà passée. Veuillez essayer une autre date.
        <input type="button" class="inline" ng-click="vm.hideLightbox('error')" i18n-value="admin.close" />
    </div>
    <div ng-if="vm.error == 'adminExistingDate'" class="flex-lightbox">
        Ces dates correspondent déjà à une autre période de fermeture. Veuillez essayer d'autres dates.
        <input type="button" class="inline" ng-click="vm.hideLightbox('error')" i18n-value="admin.close" />
    </div>
    <div ng-if="vm.error == 'adminReverseDate'" class="flex-lightbox">
        Attention, la date de début est supérieure à la date de fin. Veuillez essayer d'autres dates.
        <input type="button" class="inline" ng-click="vm.hideLightbox('error')" i18n-value="admin.close" />
    </div>
    <div ng-if="vm.error == 'adminReverseTime'" class="flex-lightbox">
        Attention, l'heure de début est supérieure à l'heure de fin. Veuillez essayer d'autres heures.
        <input type="button" class="inline" ng-click="vm.hideLightbox('error')" i18n-value="admin.close" />
    </div>
</lightbox>