<lightbox show="vm.lightbox.error" on-close="vm.hideLightbox('error')" class="lightbox">
    <div ng-if="vm.error == 'studentTime'" class="flex-lightbox">
        Le service n'est disponible qu'entre [[vm.getTimeFormat(vm.config.times.start.hour)]]h[[vm.getTimeFormat(vm.config.times.start.minute)]]
        et [[vm.getTimeFormat(vm.config.times.end.hour)]]h[[vm.getTimeFormat(vm.config.times.end.minute)]]. Veuillez essayer un autre moment.
        <input type="button" class="inline stick-right" ng-click="vm.hideLightbox('error')" i18n-value="admin.close" />
    </div>
    <div ng-if="vm.error == 'studentWrongDay'" class="flex-lightbox">
        <i18n>student.error.studentWrongDay</i18n>
        <input type="button" class="inline stick-right" ng-click="vm.hideLightbox('error')" i18n-value="admin.close" />
    </div>
    <div ng-if="vm.error == 'studentClosedDate'" class="flex-lightbox">
        La période du [[vm.exclusion.start]] au [[vm.exclusion.end]] est indisponible. Veuillez essayer une autre date.
        <input type="button" class="inline stick-right" ng-click="vm.hideLightbox('error')" i18n-value="admin.close" />
    </div>
    <div ng-if="vm.error == 'studentOldDate'" class="flex-lightbox">
        <i18n>student.error.studentOldDate</i18n>
        <input type="button" class="inline stick-right" ng-click="vm.hideLightbox('error')" i18n-value="admin.close" />
    </div>
    <div ng-if="vm.error == 'studentNoConfig'" class="flex-lightbox">
        <i18n i18n-value="test">student.error.noConfig</i18n>
        <input type="button" class="inline stick-right" ng-click="vm.hideLightbox('error')" i18n-value="admin.close" />
    </div>
    <div ng-if="vm.error == 'adminOldDate'" class="flex-lightbox">
        <i18n>admin.error.adminOldDate</i18n>
        <input type="button" class="inline stick-right" ng-click="vm.hideLightbox('error')" i18n-value="admin.close" />
    </div>
    <div ng-if="vm.error == 'adminExistingDate'" class="flex-lightbox">
        <i18n>admin.error.adminExistingDate</i18n>
        <input type="button" class="inline stick-right" ng-click="vm.hideLightbox('error')" i18n-value="admin.close" />
    </div>
    <div ng-if="vm.error == 'adminReverseDate'" class="flex-lightbox">
        <i18n>admin.error.adminReverseDate</i18n>
        <input type="button" class="inline stick-right" ng-click="vm.hideLightbox('error')" i18n-value="admin.close" />
    </div>
    <div ng-if="vm.error == 'adminReverseTime'" class="flex-lightbox">
        <i18n>admin.error.adminReverseTime</i18n>
        <input type="button" class="inline stick-right" ng-click="vm.hideLightbox('error')" i18n-value="admin.close" />
    </div>
    <div ng-if="vm.error == 'adminNoConfig'" class="flex-lightbox">
        <i18n>admin.error.noConfig</i18n>
        <input type="button" class="inline stick-right" ng-click="vm.hideLightbox('error')" i18n-value="admin.close" />
    </div>
</lightbox>