<lightbox show="vm.lightbox.modifier" on-close="vm.hideLightbox('modifier')">
    <form ng-submit="vm.saveMessage(vm.modifier)">
        <div class="flex">
            <label>Nouveau texte :</label>

            <!--    Header input modification -->
            <textarea ng-if="vm.modifier === 'header'"
                      class="newMessage"
                      rows="4"
                      name="header_input"
                      ng-model="vm.message"
                      value="vm.message"></textarea>

            <!--    Body input modification -->
            <textarea ng-if="vm.modifier === 'body'"
                      class="newMessage"
                      rows="4"
                      name="header_input"
                      ng-model="vm.message"
                      value="vm.message"></textarea>

            <!--    Days input modification -->
            <input ng-if="vm.modifier === 'days'"
                   type="text"
                   class="newMessage"
                   name="days_input"
                   ng-model="vm.message"
                   value="vm.message">

            <!--    Time input modification -->
            <input  ng-if="vm.modifier === 'time'"
                    type="text"
                    class="newMessage"
                    name="time_input"
                    ng-model="vm.message"
                    value="vm.message">

            <!--    Info input modification -->
            <input  ng-if="vm.modifier === 'info'"
                    type="text"
                    class="newMessage"
                    name="info_input"
                    ng-model="vm.message"
                    value="vm.message">
            <input type="submit" class="button inline" ng-click="vm.hideLightbox('modifier')" i18n-value="admin.validate" />
            <input type="button" class="inline" ng-click="vm.hideLightbox('modifier')" i18n-value="admin.cancel" />
        </div>
    </form>
</lightbox>