<article class="style-bord-with-over-effect">
    <form id="formRight" ng-submit="vm.sendForm()">
        <div class="block-line">
            <p><i18n>student.title</i18n></p>
            <div>
                <span class="important-title">
                    [[vm.callback.userdata.nom]] [[vm.callback.userdata.prenom]] ([[vm.callback.userdata.classe]])
                </span>
            </div>
        </div>
        <div class="block-line">
            <p><i18n>student.subject</i18n></p>
            <select ng-model="vm.callback.userdata.service" required>
                <option ng-repeat="(name, number) in vm.services" value="[[number]]">[[name]]</option>
            </select>
        </div>
        <div class="block-line">
            <p><i18n>student.tel</i18n></p>
            <div>
                <img data-ng-src="/homework-assistance/public/img/smartphone.svg" alt="smartphone-picture" class="phone"/>
                <input type="tel"
                       placeholder="+33 (0)6..."
                       pattern="(((\+\d{1,3}(-|\.| )?0?)|(\+\d{1,3}(-|\.| )?\(0\))|0)((-|\.| )?\d)(((-|\.| )?\d{2}){4}|\d{2}((-|\.| )?\d{3}){2}))"
                       ng-model="vm.callback.destination"
                       required>
                <span class="validity"></span>
            </div>
        </div>
        <div class="block-line">
            <p><i18n>student.rdv.title</i18n></p>
            <div ng-include="'/homework-assistance/public/template/home/student/student-selectboxes.html'"></div>
        </div>
        <div class="block-line">
            <p><i18n>student.otherInformations</i18n></p>
            <input id="other-informations"
                   type="text"
                   placeholder="Détails sur votre problème, thème, chapitre, ..."
                   ng-model="vm.callback.informations_complementaires">
        </div>
        <input type="submit" class="sending-button" value="Envoyer ma demande" ng-disabled="vm.checkSending()">
    </form>
</article>