<div class="select-boxes">
    <div class="inline">
        <i18n>student.rdv.day</i18n>
        <span class="date-picker">
             <date-picker ng-id="date"
                          name="startDate"
                          class="custom-select-2"
                          ng-model="vm.callback.callback_date"
                          required>
             </date-picker>
<!--        <input id="date" type="date" name="date" class="inline custom-select-2" ng-model="vm.callback.callback_date" min=[[vm.getTodayDate()]] required>-->
        </span>
    </div>
    <br/>
    <div class="inline">
        <i18n>student.rdv.from</i18n>
        <div class="inline custom-select-1 time-picker">
            <select ng-model="vm.callback.callback_time.hour"
                    ng-options="opt for opt in vm.getHoursOpt()"
                    required>
            </select>
        </div>
        <i18n class="inline">student.rdv.connector</i18n>
        <div class="inline custom-select-2">
            <select ng-model="vm.callback.callback_time.minute"
                    ng-options="opt for opt in vm.getMinutesOpt()"
                    required>
            </select>
        </div>
    </div>
</div>